<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>commontech.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D18485181BC508A4006C56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D184852F1BC508A4006C56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D184853A1BC508A4006C56B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
